<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shop</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>


<div class="heading">

       <div class="logo">
              <h1>.dotMARKET</h1>
       </div>

      <div class="navigation">
                <a href='/'>Main</a>
                <a href='/products'>Products</a>
                <a href='/contacts'>About&Contacts</a>
      </div>
</div>



<div class="productList">

        <div class="product">
            <img src="{% static 'NetHunter.png' %}">
             <div>
                <h2>KALI NetHunter Phone</h2>
                <p>Kali NetHunter is available for un-rooted devices (NetHunter Rootless), for rooted devices that have a custom
                recovery (NetHunter Lite), and for rooted devices with custom recovery for which a NetHunter specific kernel is
                available (NetHunter).</p>

             </div>
                <div class="priceSection">
                                <h3>29760 ₽</h3>
                                    <button>buy</button>
                </div>
        </div>


        <div class="product">

                    <img src="{% static 'FlipperZero.webp' %}">
              <div>
                        <h2>Flipper Zero</h2>
                        <p>Flipper Zero is a portable multi-tool for pentesters and geeks in a toy-like body. It loves hacking digital
                            stuff, such as radio protocols, access control systems, hardware, and more. It's fully open-source and
                            customizable, so you can extend it in whatever way you like.</p>

             </div>
             <div class="priceSection">
                           <h3>29760 ₽</h3>
                      <button>buy</button>
             </div>



</div>








</body>
</html>